#myTabs{
	height: 600px;
}
.demoG, .picture {
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 5px;
}
.demoG{
	float: left;
    border: 2px white solid;
	}
.picture{
	float: right;
}
#save{

}
img{
	height: 450px;
	width: 450px;
	border-radius: 5px;
	border: 2px white solid;
}
#addPic {
    margin-left: 50px;
}
#clear {
    clear: both;
}